/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Adjust the background color as needed */
  color: white; /* Adjust the text color as needed */
  padding: 10px 0;   
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
}

.navbar-logo {
  height: 100px;
  width: 200px;
  margin-left: 50px;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
.navbar-logo img {
  width: 100%;
  height: 100%;
}

.navbar-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 50px;
}

.navbar-links li {
  margin-right: 30px;
}

.navbar-links>ul>li> a {
  color: rgb(0, 5, 20);
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 100;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  padding: 50px 0;
}

.menu-button {
  background: none;
  border: none;
  color: black;
  font-size: 30px;
  margin: auto 0;
  cursor: pointer;
  outline: none;
  margin-right: 50px;
}

/* Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 4px 0 4px 0 rgb(224, 224, 224);
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  color: white;
  padding: 0;
}

.sidebar-content ul {
  padding: 0;
  margin: 0;
}
.sidebarMenuList {
  background-color: #f9f9f9;
  padding: 10px 20px;
  border: 1px solid gainsboro;
}
.active-sidemenu {
  background-color: #557167;
}
.sidebar-content a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

.close-button {
  position: absolute;
  background-color: rgb(116, 116, 116);
  color: white;
  font-size: 38px;
  top: 10px;
  right: 10px;
}

.side-profile {
  width: 100%;
  height: 200px;
  background-color: rgb(116, 116, 116);
}

/* App.css */
.toggle-button {
  margin: 10px;
}

/* Add hover effect for navigation links */
.navbar-links a:hover {
  color: #557167; /* Change the color on hover */
}

/* Add line below the active tab with animation */
.navbar-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #557167; /* Line color */
  transition: width 0.3s ease; /* Animation duration and easing */
}

.navbar-links a:hover::after {
  width: 100%; /* Expand the line on hover */
}

/* Optional: Change the color of the active tab */
.navbar-links a.active {
  color: #557167; /* Change the color of the active tab */
}

.d-none {
  display: none;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .navbar-logo {
    margin-top: 10px;
    margin-left: 30px;
    height: 90px;
    width: 180px;

  }
  .menu-button {
    margin-right: 20px;
  }
}


/* drop down styling */

.dropdown {
  /* display: none; Hide the dropdown by default */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%; /* Position it below the parent element */
  background-color: #fff; /* Background color for the dropdown */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */

}

.dropdown li {
  padding: 10px;
  list-style: none;
}

.dropdown li a {
  text-decoration: none;
  color: #333; /* Link color for the dropdown items */
}

/* Show the dropdown when its parent is hovered */
.dropdown-container:hover .dropdown {
  display: block;
}
