/* ProductSection.css */
.product-section {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  height: 300px;
  margin-left: 20px;
}

.product-image {
  flex: 1;
  height: 100%;
}

.product-content {
  flex: 2;
  /* padding: 0px 20px; */
  /* padding: 20px 20px; */
  text-align: left;
  background-color: inherit; /* White background */
  margin-left: 50px;
  height: 100%;
}

.product-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4e635f;
}

.product-content p {
  font-size: 16px;
  line-height: 1.5;
}

.product-content h3 {
  font-size: 15px;
  margin-top: 20px;
  color: #4e635f;
}

.product-content ul {
  list-style-type: none;
  padding-left: 0;
}

.product-content li {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .product-section {
    height: 360px;
    /* padding: 40px 20px; */
    padding: 50px 0;
  }
}
@media screen and (max-width: 760px) {
  .product-section {
    flex-direction: column-reverse;
    height: 90vh;
    /* padding: 40px 20px; */
    padding: 50px 0;

  }
  .product-content {
    margin: 0;
    
  }
  .product-image{
    flex: auto;
  }
}
