#content{
    width: 100%;
    color: white !important;
    /* display: flex; */
    
    
}
.content-wrapper{
    height: 100vh;
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    overflow: hidden;
    

}
.services-intro{
  width: 100%;
  color: #555;
  
}
.services-intro-wrapper{
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.services-intro p{
  line-height: 30px;
  margin: 20px;
  font-size: 20px;
  margin-bottom: 60px;
}
.container{
    width: 50%;
    /* border: 2px solid green; */
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}
.container a{
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
}

.container span{
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    opacity: 1; 
    transition: opacity 1s, transform 1s; 
    overflow: hidden;
}
  
.container span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay color */
    transition: opacity 0.3s ease; /* Transition for overlay opacity */
    z-index: 1; /* Place the overlay under the content */
    opacity: 0; /* Initial opacity for the overlay */
  }
  .container span:hover::before {
    opacity: 1; /* Show the dark overlay on hover */
  }

  .container span:hover {
    opacity: 1;
    transform: scale(1.1);
  }


.container> .container-2 > *{
    margin: 20px 0px;
}
.container>div{
    border-top-width: 1px;
    width: 100%;
    position: absolute;
    z-index: 3;
    pointer-events: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.container > div>div{
    width: 10%;
    border: #ef983d;
    border-top-width: 1px;
    border-top: 1px solid white;
    border-top-width: 1px;
    margin: 20px 0;
    margin:0 auto !important;
    text-align: center;
}

.container h3{
    
    text-align: center;
    font-size: 40px;
    line-height: 1.3;
}


/* Responsive */
@media (max-width: 768px) {
     .content-wrapper {
      flex-direction: column; 
      align-items: center; 
    } 

    .services-intro-wrapper{
      width: 90%;
      margin: 0 auto;
      text-align: left;
      text-size-adjust: 100%;    
      width: fit-content;  
    }
  
    .container {
      width: 100%; /* Take up the full width of the parent container */
      display: block; 
      text-align: center;
      height: 100%;      
    }
  }