/* Additional styling for improved aesthetics */

.singup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("/public/assets/images/bg.jpg");
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;

}

.singup-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.singup-header {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-family: inherit;
  border-bottom: 3px solid #6ed28f;
  display: inline;
  padding: 2px;
  margin: 4px;
}

.singup-form-group {
  text-align: left;
  margin-top: 30px;
  margin: 10px 20px;
}

.form-label {
  display: block;
  font-size: 16px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.singup-button {
  background-color: #557167;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  transition: background-color 0.3s;
  margin: 20px 0;
}

.singup-button:hover {
  background-color: #557167;
}

.login_para {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
