/* ContactPage.css */
.contact-page {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Adjusted to make both sides take full height */
  padding: 20px;
  height: 80vh; /* Set the height to 90vh */
}

.left-image,
.right-image {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-image img,
.right-image img {
  max-width: 100%;
  height: 100%; /* Adjusted to maintain aspect ratio */
  /* height: auto; */
}

.contact-info {
  flex: 3;
  padding: 20px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Adjusted for better text alignment */
}

.contact-info h2 {
  font-size: 50px;
  color: #7e7e7e;
  margin-bottom: 20px; /* Add spacing below the title */
  font-family: inherit;
}

.contact-info p {
  margin: 10px 0;
  font-size: 20px;
  color: #555;
  flex-grow: 1; /* Make the text take up the remaining space */
}

.contact-info a {
  text-decoration: none;
  color: #557167;
  font-weight: bold;
}

.contact-info a:hover {
  text-decoration: underline;
}

.social-icons a {
  font-size: 28px;
  padding: 6px;
}

.contact-form-container {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  max-width: 50%;
  margin-top: 70px;
}
.contact-form-container label {
  color: rgb(80, 80, 80);
  font-size: 18px;
  margin-bottom: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.name-group {
  display: flex;
  justify-content: space-between;
}

.name-input {
  width: 48%; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  
}

.contact-form-group input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f2f2f2;
}

textarea {
  min-height: 100px;
}

.contact-form-container button {
  padding: 10px;
  background-color: #557167;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  display: inline;
  width: 150px;
}

button:hover {
  background-color: #79a394;
}

@media screen and (max-width: 450px) {
  .contact-page {
    display: flex;
    flex-direction: column;
  }
  .contact-form-container {
    max-width: 90%;
    margin-top: 200px;
  }
  .name-group {
    display: block;
  }
  .name-input {
    width: 100%; /* Adjust as needed */
  }
}
