/* Hero.css */
.hero {
  position: relative;
  background-image: url("../../../../public/assets/images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 80vh; /* Adjust the height as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.hero-content {
  position: absolute;
  top: 40%;
  right: 10%;
  text-align: center;
  color: #fff;
  background: white;
  width: 400px;
  height: 250px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 26px;
  color: rgb(19, 27, 22);
  font-weight: 400;
}

.hero-content p {
  font-size: 14px;
  color: gray;
  margin: 20px 0;
}
.hero-content button {
  font-size: 18px;
  color: white;
  background-color: #83ac9e;
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  border: none;

  /* margin-top: 50/px; */
}
.hero-content button:hover {
  background-color: #557167;
}

@media screen and (max-width: 450px) {
  .hero {
    height: 80vh; /* Adjust the height as needed */
  }
  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .hero-content {
    top: 0px;
    left: 0px;
    width: 90%;
    height: 250px;
    padding: 20px;
  }
  .hero-content h1 {
    font-size: 18px;
    font-weight: 400;
  }
  .hero-content p {
    font-size: 12x;
    font-weight: 400;
  }
  .hero-content button {
    font-size: 14px;
  }
}
