*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body {
  font-size: 1rem; /* 16px */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  font-family: 'Arimo', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 768px) {
  /* body {
    font-size: 1.2rem;  */
    /* Adjust font size for larger screens */
  /* } */
}

@media (min-width: 1024px) {
  /* body {
    font-size: 1.5rem;  */
    /* Adjust font size for even larger screens */
  /* } */
}