/* spaSection.css */
.spa-section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 290px;
  padding: 40px 20px;
}

.spa-image {
  flex: 1;
  height: 100%;
}

.spa-content {
  flex: 2;
  padding: 0px 60px;
  text-align: left;
  background-color: #fff; /* White background */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.spa-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #4e635f;
}

.spa-content p {
  font-size: 16px;
  line-height: 1.5;
}

.spa-content h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #4e635f;
}

.spa-content ul {
  list-style-type: none;
  padding-left: 0;
}

.spa-content li {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .spa-section {
    height: 360px;
    padding: 40px 20px;
  }
}
@media screen and (max-width: 760px) {
  .spa-section {
    flex-direction: column-reverse;
    height: 90vh;
    padding: 40px 20px;
  }
  .spa-content {
    margin: 0;
    padding: 0px 20px;
  }
}
